/*h1 {
    color:blue;
}*/
/*#firstHeading {
    color:blue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color:#77FF63;
}
.introText {
    color:white;
    font-family:'Roboto', sans-serif;
}*/
#firstHeading {
    text-align:center;
}
.threeCols {
    column-count:3;
    column-gap:15px;
}
#fullWidthP {
    column-span:all;
}
/*div p {
    column-span:none;
}*/
p {
    text-align:justify;
}
.stubbornP {
    margin-top:0px;
}
.twoCols {
    column-count:2;
    column-gap:15px;
}